<div class="container">
    <div class="user-details">
        <h1> Who am I </h1>
        <h4 style="margin-bottom: 10px">属狗的天蝎做码农</h4>
        <h4 style="margin-bottom: 10px">爱打个球好游个泳</h4>
        <h4 style="margin-bottom: 10px">三国杀转战狼人杀</h4>
        <h4 style="margin-bottom: 30px">还有G胖陪我度过漫长岁月</h4>
        <p> A Snaker who can't play basketball is not a good programmer. </p>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Back-End</h4>
            
            <p>"When nothing seems to help,I go and look at a stonecutter hammering away at his rock perhaps a hundred times without as much as a crack showing in it.</p>
        </div>
        <div class="four columns">
            <h4>Front-End</h4>
            
            <p>“当一切都看起来无济于事的时候，我去看一个石匠敲石头。他一连敲了100次，石头仍然纹丝不动。但当他敲第101次的时候，石头裂为两半。可我知道，让石头裂开的不是那最后一击，而是前面的一百次敲击的结果。”——雅各布·里斯
            </p>
        </div>
        <div class="four columns">
            <h4>Tools</h4>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-webpack-plain colored"></i>
            <i class="devicon-babel-plain colored"></i>
            <p>Yet at the hundred and first blowit will split in two,and I know it was not that blow that did it——but all that had gone before."——Jacob Riis</p>
        </div>
    </div>
    <div class="row user">
        <div class="four columns">
            <h4>Faith</h4>
            <img style="width: 70px" src="/assets/img/lens.png"/>
            <img style="width: 70px" src="/assets/img/photoshop.png"/>
            <img style="width: 70px;" src="/assets/img/write.png"/>
            <p>喜欢走走拍拍，穷且技术一般<br>邓呆子是我一生的信仰<br>同时努力赶超陈医生的发际线</p>
        </div>
        <div class="four columns">
            <h4>Sports</h4>
            <img style="width: 70px;" src="/assets/img/billiards.png"/>
            <img style="width: 70px;" src="/assets/img/swim.png"/>
            <img style="width: 70px;" src="/assets/img/skii.png"/>
            <p>篮球队队长，然而打不过队中高手<br>自学四种泳姿，幻想救上白富美<br>滑雪爱好新 get√，没有然而</p>
        </div>
        <div class="four columns">
            <h4>Games</h4>
            <img style="width: 70px;" src="/assets/img/sanguosha.png"/>
            <img style="width: 70px;" src="/assets/img/wolf.png"/>
            <img style="width: 70px;" src="/assets/img/Avalon.png"/>
            <p>装有古锭刀的许褚发动裸衣后<br>酒火杀装有藤甲空手牌的诸葛亮<br>到底会掉几点血</p>
        </div>
    </div>
</div>
